<div class="header">
  <img width="40" alt="Ridepool Logo" src="../assets/pif.png" />
  <div class="spacer"></div>
  <span>Logged in as
    <b>paperinflames@ridepool.in</b>
  </span>
  <button class="btn btn-danger" id="logout">Logout</button>
</div>
<div class="sidebar">
  <i class="fa fa-search"></i>
  <input class="form-control" placeholder="Search Partners" (keyup)="filterData($event.target.value)">
  <a href="#{{partner.pId}}" *ngFor="let partner of partnerData" class="partner" (click)="getPartnerDetails(partner)">
    <p class="partner-name">
      {{partner.pName}}
    </p>
    <p class="partner-info">
      {{partner.pId}} | {{partner.pNum}}
      <i class="fa fa-chevron-circle-right"></i>
    </p>
    <span class="status-color" [ngStyle]="{'background-color': partner.pStatusColor}">
    </span>&nbsp;
    <b>{{partner.pStatus}}</b>
  </a>
</div>

<div class="content">
  <h4>
    PARTNER DETAILS
  </h4>
  <ng-container *ngIf="showPartnerDetails">
    <div class="partner-details">
      <div class="row col-lg-12 col-md-12 col-sm-12 partner-details-header">
        <div class="col-lg-2 col-md-2 col-sm-2">
          NAME
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          PARTNER ID
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          MOBILE NUMBER
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          STATUS
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <button class="btn call-partner" style="margin-top: 15px;">Call Partner</button>
        </div>
      </div>

      <div class="row col-lg-12 col-md-12 col-sm-12 partner-details-content">
        <div class="col-lg-2 col-md-2 col-sm-2">
          {{partnerName}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          {{partnerId}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          {{partnerNum}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <span class="status-color" [ngStyle]="{'background-color': partnerStatusColor}">
          </span>&nbsp;
          {{partnerStatus}}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!showPartnerDetails">
    <p>Search for desired partner to get into the details.</p>
  </ng-container>
  <div #map class="map"></div>
  <div class="row stops" *ngIf="showPartnerDetails" style="margin: 25px;">
    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let stop of partnerStops;"
      style="box-shadow: 0px 0px 0px 1px rgba(211, 211, 211, 1);
        width: 48%;margin:11px;height: 70px;">
      <div class="col-lg-3 col-md-3 col-sm-3 stops-header">STOP NO.</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-header">LAT</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-header">LONG</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-header">TIME</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-content">{{stop.stopNum}}</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-content">{{stop.stopLat}}</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-content">{{stop.stopLong}}</div>
      <div class="col-lg-3 col-md-3 col-sm-3 stops-content">{{stop.stopTime}}</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>